if [ ! -d ".venv" ]; then
  echo "Installing virtualenv for $(python -V)"
  python -m venv .venv
  echo "Activating $(python -V) virtualenv"
  source $PWD/.venv/bin/activate
  test -f $PWD/requirements.txt && pip3 install -q -r $PWD/requirements.txt --upgrade
fi

source $PWD/.venv/bin/activate

export PATH=$PATH:$PWD/.bin:$PWD/.venv/bin

#export KUBECONFIG=$(expand_path ./kubeconfig)

# alias tf="docker run --rm -it -v $PWD:/data -w /data -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/docker:/var/lib/docker hashicorp/terraform:light"
